.container{
    width: 100%;
    height: 100%;
}
.clientes{
    background-color: sandybrown;
    font-size: 25px !important;
    width: 100% !important;
    height: 25% !important;
}
.productos{
    background-color: lightgreen;
    font-size: 25px !important;
    width: 100% !important;
    height: 25% !important;
}
.ventas{
    background-color: #DCDCDC;
    font-size: 25px !important;
    width: 100% !important;
    height: 25% !important;
}
.promociones{
    background-color: #DCDCDC;
    font-size: 25px !important;
    width: 100% !important;
    height: 25% !important;
}